.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}

.about h2 {
  font-size: 2.2em;
  color: #333;
  margin-bottom: 1em;
}
/* 
.about h2 span {
  color: #1a8918; 
} */

.about p {
  color: #000000;
  margin-bottom: 2em;
  font-size: 1.1em;
  line-height: 1.5;
  max-width: 600px;
}

.about a {
  display: block;
  margin-top: 15px;
  padding: 10px 20px;
  color: #fff;
  background-color: #28a745; /* Verde */
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.about a:hover {
  background-color: #0f730c; /* Verde mais escuro */
}
