.create_comment {
  margin-top: 2em;
  text-align: center;
}

.create_comment h3 {
  margin-bottom: 1em;
}

.create_comment form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_comment label {
  width: 100%;
  margin-bottom: 1em;
  text-align: left;
}

.create_comment textarea {
  width: 100%;
  max-width: 600px;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.create_comment .btn {
  background-color: #1a8918;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
}

.create_comment .error {
  color: red;
  margin-top: 1em;
}
