.register {
  text-align: center;
}

.register p {
  color: #aaa;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
  padding: 10px;
  margin-top: 5px;
  font-size: 1em;
}

.btn {
  background-color: #1a8918;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  margin-top: 10px;
}

.btn:hover {
  background-color: #0f730c;
  color: #fff;
}

.error {
  color: #dc3545;
  margin-top: 10px;
}
