.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a {
  padding: 0.4em 0.6em;
}

.active {
  background-color: #000;
  color: #fff;
}

.profile_image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.profile_container {
  position: relative;
  cursor: pointer;
}

.dropdown_menu {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logout_button {
  background: red;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}
